.btn {
}

.btn:hover {
  background-color: rgb(197, 197, 212);
  transition: background-color 0.2s linear;
}

.contactItemContainer {
  min-width: 250px;
  max-height: 72px;
  border-radius: 4px;
  padding: 12px;
  margin-bottom: 16px;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: flex-start;
  box-shadow: 10px 10px 39px 0px rgba(0, 0, 0, 0.75);
  transition: transform 0.3s;
}
.contactItemContainer:hover,
.contactItemContainer:focus {
  transform: scale(1.05);
}

.contactItemContainer .btn {
  align-self: flex-end;
}
